@use "variables";

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  //   list-style: none;
  //   overflow-x: hidden;
  box-sizing: inherit;
}

body {
  // background-color: variables.$primary;
  max-width: 1440px;
  min-height: 100vh;
  margin-inline: auto;
  display: grid;
  place-items: center;
}
