// Text Colors
$textWhite: #fff;
$textDefault: #3f3f3f;
$textOutline: #3d5afe;
$textDisabled: #9e9e9e;

// White Bg
$whiteBg: #fff;

// Primary
$primary: #2962ff;
$primaryShadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
$primaryActive: #0039cb;

// Secondary
$secondary: #455a64;
$secondaryShadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
$secondaryActive: #1c313a;

// Danger
$danger: #d32f2f;
$dangerShadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
$dangerActive: #9a0007;

// Disabled
$disabled: #e0e0e0;

// Default
$default: #e0e0e0;
$defaultShadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
$defaultActive: #aeaeae;

// Outline
$outline: #3d5afe;
$outlineActive: rgba(41, 98, 255, 0.1);

// Border Radius
$buttonButtonRadius: 6px;
